{% extends "main/menu.html" %}

{% load staticfiles %}

{% block title %}
  Add purchase
{% endblock %}

{% block body %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Add a purchase
    </h1>
    <ol class="breadcrumb">
      <li><a href=""></a>Dashboard</li>
      <li class="active">Add purchase</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info box-solid editable-table">
          <div class="box-header">
            <h3 class="box-title">General info</h3>
          </div>
          <div class="box-body">

            <div class="col-md-5">
              <div class="form-group">
                <label>Timestamp</label>
                <input class="form-control" type="text" name="date_time_field" value="" />
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group">
                <label>Merchant</label>
                <select class="form-control select2" style="width: 100%;">
                  <option>Alaska</option>
                  <option>Morissons</option>
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Currency</label>
                <select class="form-control select2" style="width: 100%;">
                  <option>GPB</option>
                  <option>EUR</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="box box-info box-solid editable-table">
          <div class="box-header">
            <h3 class="box-title">Items</h3>
          </div>
          <div class="box-body">

            <div class="col-md-3">
              <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" name="Item" value="" />
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label>Quantity</label>
                <input class="form-control" type="text" name="Item" value="" />
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label>Unit</label>
                <input class="form-control" type="text" name="Item" value="" />
              </div>
            </div>

            <div class="col-md-1">
              <div class="form-group">
                <label>Cost</label>
                <input class="form-control" type="text" name="Item" value="" />
              </div>
            </div>

            <div class="col-md-1">
              <div class="form-group">
                <label>Asset</label>
                <input class="form-control" type="text" name="Item" value="False" />
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group">
                <label>Tags</label>
                <input class="form-control" type="text" name="Item" value="" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="box box-info box-solid editable-table">
          <div class="box-header">
            <h3 class="box-title">Additional info</h3>
          </div>
          <div class="box-body">

            <div class="col-md-3">
              <div class="form-group">
                <label>Discount</label>
                <input class="form-control" type="text" name="Item" value="" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Total cost</label>
                <input class="form-control" type="text" name="Item" value="" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Charges</label>
                <input class="form-control" type="text" name="Item" value="" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Tags</label>
                <input class="form-control" type="text" name="Item" value="" />
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

{% endblock %}

{% block end_scripts %}

<script type="text/javascript">
$('input[name="date_time_field"]').daterangepicker({
    "singleDatePicker": true,
    "timePicker": true,
    "timePicker24Hour": true,
    "timePickerIncrement": 5,
    "showCustomRangeLabel": false,
    "locale": {
      "format": "YYYY-MM-DD HH:mm",
      "separator": " - ",
      "firstDay": 1
    },
    "maxDate": moment().format('YYYY-MM-DD HH:mm'),
    "startDate": moment().format('YYYY-MM-DD HH:mm')
});
</script>

{% endblock %}